.notice {
  text-align: center;
  font-style: italic;
  color: red;
}
.formGroup {
  margin-bottom: 10px;
  text-align: center;

  input {
    width: 50rem;
    padding: 10px;
  }

  p {
    color: orangered;
  }

  button {
    width: 50rem;
    padding: 15px;
  }
}
