.header {
    z-index: 999;

    .form__buttonAll {
        min-width: 100px;
        flex: 1;
        display: flex;
        margin: 0;
        padding: 0;

        .infoUser {
            text-align: center;
            padding-top: 12px;
            min-width: 100px;
            display: flex;
            align-items: center;
        }

        .iconUser {
            font-size: 23px;
            color: gray;
            margin-right: 5px;
            transition: all 0.3s;
        }

        button {
            color: #959595;
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;

            &:hover {
                color: #ec7532;
            }

            &:first-child:active{
                background-color: transparent;
                border-color: none;
            }
        }

        ul {
            border: none;
            padding: 0;
            margin: 0;
        }

        li {
            display: inline;
            cursor: pointer;
        }
    }
}