.icon {
    background-color: orangered;
    color: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    margin-bottom: 10px;
}

.formGroup {
    margin-bottom: 10px;
    text-align: center;

    input {
        width: 50rem;
        padding: 10px;
    }

    select {
        width: 50rem;
        padding: 10px;
    }

    p {
        color: orangered;
    }

    button {
        background-color: orangered;
        color: white;
        width: 50rem;
        border: 1px solid transparent;
        border-radius: 5px;
        padding: 15px;
        font-weight: bold;
        transition: all 0.5s;

        &:hover {
            background-color: rgb(139, 45, 10);
        }
    }
}

.showPass {
    text-align: right;
    padding-right: 5rem;
    margin-bottom: 2rem;
}