body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cover {

}

.cover .title {
  margin-bottom: 15px;
  font-size: 24px;
}
.cover .table {
  border: 1px solid rgb(206, 206, 206);
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.cover .table th,
td {
  border-bottom: 1px solid rgb(206, 206, 206);
  padding: 10px;
}

.cover .table th {
  font-size: 16px;
}
